.header-time-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 420px;
	height: 44px;
}

.header-time-container p {
	margin: 0 10px 0px;
}

.green {
	background-color: #40aa54;
}

.white {
	background-color: white;
}
