.green-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.green-button-link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 700;
	background-color: #40aa54;
	border-radius: 40px;
	width: 380px;
	height: 55px;
}
