.update-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #2c3066;
  font-weight: 600;
  font-size: 18px;
  background-color: rgb(216, 238, 220);
  border-radius: 15px;
  width: 260px;
  height: 50px;
  cursor: pointer;
}
