.green-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  font-weight: 700;
  background-color: #40aa54;
  border-radius: 30px;
  width: 180px;
  height: 35px;
  cursor: pointer;
}

.category-subhead {
  transition: 300ms;
}

.category-subhead:hover {
  transform: scale(1.03);
}
