.form-searchbar {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.form-searchbar input {
	width: 330px;
	height: 38px;
	text-align: center;
	border: 1px solid #d6d4d4;
	border-radius: 10px;
	box-shadow: 0px 0px 4.5px 0px #0000000a;
}

.form-icon {
	position: absolute;
	left: 60px;
}
