.verification {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3rem 3rem;
}

.verification-upper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 70%;
}

.verification-headline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.verification-headline h2 {
  color: #2c3066;
}

.verification-headline p {
  color: #777777;
}

.verification-form {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  gap: 1rem;
}

.verification-form input {
  border: none;
  border-bottom: 1px solid #707070;
}

.verification-form input:focus {
  border: 1px solid lightblue;
}

.verification-form label {
  color: #777777;
}

.verification-form a {
  margin-top: 3rem;
}

.verification-to-signin {
  background-color: #707070;
  color: #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 30%;
  width: 100%;
}

.verification-to-signin a {
  color: white;
}

.hallo {
  background-color: blue;
}

/* ==================== Success Page ====================== */

.verfication-success {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #707070;
}

.verification-container {
  height: 40%;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
}
