@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.card {
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
}

.input-style {
  width: 320px;
  height: 50px;
  display: block;
  margin: 10px auto;
  padding: 10px 16px;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

label {
  color: rgb(126, 133, 139);
  font-size: 12px;
  width: 100%;
  display: block;
  float: left;
}

.exp {
  display: block;
  width: 140px;
  margin-left: 15px;
  margin-bottom: 15px;
  align-items: stretch;
}

#validThru1 {
  display: inline-block;
}

#validThru2 {
  display: inline-block;
  vertical-align: top;
}

#inputWrapper {
  min-height: 483px;
  margin-top: 40px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 10px;
}

.small {
  color: rgb(126, 133, 139);
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

.add-card-btn {
  background: #000000;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  width: 331px;
  font-size: 16px;
  line-height: 16px;
  min-height: 50px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
  vertical-align: middle;
}