.cartitem-container {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	background-color: #f9faff;
}

.cartitem {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cartitem-content {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	padding-right: 1rem;
	text-align: left;
	background-color: white;
	width: 350px;
}

.cartitem-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100px;
}

.cartitem-data h3 {
	color: #2c3066;
	font-size: 14px;
}

.cartitem-data p {
	color: #777777;
	font-size: 10px;
}

.cartitem-img {
	height: 91px;
	width: 87px;
	border-radius: 1rem 0rem;
}

.cartitem-review {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.cartitem-review p {
	color: #2c3066;
}

.cartitem-price {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.cartitem-counter {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100px;
}

.cartitem-counter button {
	color: rgb(64, 170, 84);
	background-color: white;
	border: 1px solid #777777;
	border-radius: 3px;
	width: 3rem;
	height: 2.5rem;
	box-shadow: #777777;
}

.cartitem-counter p {
	font-size: 10px;
	font-weight: bold;
	color: #2c3066;
}
