.product-container {
	border: 1px solid #7070701a;
	padding: 13px;
}
.product-container h5 {
	text-align: center;
	color: #2c3066;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 35px;
}

.image-item {
	width: 51px;
	height: 41px;
}

.price-rating-container {
	color: #2c3066;
	width: 112px;
	display: flex;
	justify-content: space-around;
}

.images-home-container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	gap: 17.35px;
}
